{% if message|length > 0 %}
	<div class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">x</button>
	{% for msg in message %}
		<p> {{ msg }} </p>
	{% endfor %}
	</div>
{% endif %}